.aboutContainer {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  margin-bottom: 40px;
  padding: 2rem;
  box-sizing: border-box;
}

.aboutTitle {
  text-align: left;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.aboutImageContainer {
  width: 100%;
}

/* .aboutImage {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
} */

.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.aboutDescription {
  margin-top: 30px;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
}

.aboutBanner {
  height: 200px;
  width: 100vw;
  background-color: #d9d9d9;
  margin-left: calc(-50vw + 50%);
}
