.aboutContainer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}

.aboutTitle {
  text-align: left;
  font-size: 30px;
}

.aboutImage {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}

.aboutDescription {
  text-align: left;
}
